<ion-header [translucent]="true" color="danger">
  <ion-toolbar color="dark">
      <ion-buttons slot="start" class="bg-transparent">
          <ion-menu-button>
              <ion-icon name="apps"></ion-icon>
          </ion-menu-button>
      </ion-buttons>
      <ion-title>
          SMART-PASS
        </ion-title>
      <ion-button fill="clear" color="light" size="small" slot="end" (click)="goLogin()">
          <ion-icon style="width:30px; height: 30px;" name="log-in" (click)="goLogin()"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Welcome to Smart Pass</ion-card-subtitle>
          <ion-card-title>Access Control Security System</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          

        </ion-card-content>
      </ion-card>


    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>



  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" >Name</ion-col>
      <ion-col size="6">Two</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<!-- <ion-header [translucent]="true" color="danger">
    <ion-toolbar color="dark">
        <ion-buttons slot="start" class="bg-transparent">
            <ion-menu-button>
                <ion-icon name="apps"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-icon name="basket"></ion-icon> 
            PARTCO
          </ion-title>
  
        <ion-button fill="clear" color="light" size="small" slot="end" (click)="goLogin()">
            <ion-icon style="width:30px; height: 30px;" name="log-in" (click)="goLogin()"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>


<ion-item color="warning" >
<ion-segment color="primary" scrollable [value] = "icategory" (ionChange)= "onCategoryCategory($event)">
    <ion-segment-button  *ngFor="let category of categories" [value]="category" >
        {{category}}
    </ion-segment-button>
</ion-segment>
</ion-item>

<ion-content color="dark" >
  <ion-fab vertical="top" horizontal="end" slot="fixed"  >
    <ion-fab-button (click)="openCart()" #cart color="warning">
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon">{{ cartItemCount | async }}</ion-icon>
    </ion-fab-button>
  </ion-fab>
  
    <div class="box">
      <div class="card" *ngFor = "let item of result; index as productId" > 
        <div class="name" >{{ item.name}}</div>
        <img class="img" [src]="item.image">
        <div class="price">{{item.price | currency:"R"}}</div>
        <div class="desc" >{{ item.description}}</div>
        <div class="add" vertical = "bottom" (click)="addItem(item)" >
          <ion-button expand = "block" slot="end" color="dark" size = "small" fill = "outline" #cart>+
            <ion-icon name="cart" class="cart-icon"></ion-icon>
          </ion-button>
        </div>
      </div>
      </div>
  </ion-content> -->
